.video-section{
    background: black;
    top: 0;
    left: 0;
    position: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    z-index: 10;
    overflow: hidden;
}

.video-section__video{
    max-height: 100vh;
    height: 100%;
}

.play-btn{
    border: none;
    background: deeppink;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'MonteCarlo', sans-serif;
    font-size: 50px;
    width: 214px;
    border-radius: 20px;
    z-index: 11;
    color: white;
}

.close-btn{
    position: absolute;
    top: 60px;
    right: 0;
    border: none;
    background: deeppink;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 11;
    color: white;
}